*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu-bar
{
    background-color: rgba(0, 0, 255, 0.644);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style:  none;
    color: #faebd7;
}
.menu-bar ul li
{
    width: 120px;
    margin: 10px;
    padding: 10px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #faebd7;
}
.ative, .menu-bar ul li:hover
{
    background-color: chocolate;
    border-radius: 3px;

}
.menu-1
{
    display: none;

}
.menu-bar ul li:hover .menu-1
{
    display: block;
    position: absolute;
    background-color: rgb(98, 224, 40);
    margin-top: 25px;
    margin-left: -15px;
}
.menu-bar ul li:hover .menu-1 ul
{
    display: block;
    margin: 20px;
}
.menu-bar ul li:hover .menu-1 ul li
{
    width: 150px;
    padding: 5px;
    border-bottom: 1px dotted white;
    border-radius: 0;
}


.menu-2
{
    display: none;

}
.menu-bar ul li:hover .menu-2
{
    display: block;
    position: absolute;
    background-color: rgb(98, 224, 40);
    margin-top: 25px;
    margin-left: -15px;
}
.menu-bar ul li:hover .menu-2 ul
{
    display: block;
    margin: 20px;
}
.menu-bar ul li:hover .menu-2 ul li
{
    width: 150px;
    padding: 5px;
    border-bottom: 1px dotted white;
    border-radius: 0;
}